body{
    font-family: noyh_bold;
    background-color: #F5F5F5;    
    font-family: noyh_bold;
    color: #BEBEBE;
}

.header
{
    font-family: noyh_bold;
    text-align: center;
    margin-top: 2%;
}

.header h1, h2
{
    font-family: noyh_bold;
    font-size: 300%;
    color: #BEBEBE;
    letter-spacing: 0;
}

.content
{
    font-family: noyh_bold;
    text-align: center;
    
}
.content p {
    margin-top: 13%;
    margin-bottom: 0%;
    width: 100%;
    display: inline-block;
    font-size: 500%;
    color: rgb(143, 143, 143);
    letter-spacing: 0;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

#target_number{
    color: rgb(143, 143, 143);
    margin-top: 100px;
    font-size: 1500%;
}

#sub{
    margin-top: 0%;
    margin-bottom: 0%;
    font-size: 300%;
    color: #BEBEBE;
}

#instruction
{
    margin-top: 10%;
}
#controller {
    font-size: 600%;
    padding: 1%;
    color: rgb(143, 143, 143);
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    border-width: thin; 
    /* border-color: #64C7FA; */
}

#controller:hover{
    font-size: 600%;
    color: rgb(70, 70, 70);
}

.form-control
{
    min-height: 41px;
    box-shadow: 0 10px 20px 0 rgba(227, 231, 255, 0.25);
    border-radius: 3px;
    border-color: rgb(228, 227, 227);
    background: #ffffff;    
    border-radius: 15px;
    color: #BEBEBE;
}

.form-group
{
    text-align: center;
    width: 24%;
    margin-left: 38%;
}

.form-control::placeholder { 
    color: #BEBEBE;
}

.form-group p, label
{
    font-size: 180%;
}

.form-group label
{
    font-size: 180%;
    color: rgb(151, 151, 151);
}

/* extensions------------------------------------------------- */


@font-face {
    font-family: 'noyh_bold';
    src: url('../assets/font/noyhgeometricslim-bold-webfont.woff2') format('woff2'),
         url('../assets/font/noyhgeometricslim-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noyh_bolditalic';
    src: url('../assets/font/noyhgeometricslim-bolditalic-webfont.woff2') format('woff2'),
         url('../assets/font/noyhgeometricslim-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noyh_regular';
    src: url('../assets/font/noyhgeometricslim-regular-webfont.woff2') format('woff2'),
         url('../assets/font/noyhgeometricslim-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}